@import "tailwindcss";

@theme {
	--color-priv-1: #3b0b67;
	--color-priv-2: #9b1a53;
	--color-priv-3: #3b0b67;
}

html {
	scroll-behavior: smooth;
}


/* Animation delays */
.animation-delay-100 {
	animation-delay: 100ms;
}

.animation-delay-200 {
	animation-delay: 200ms;
}

.animation-delay-300 {
	animation-delay: 300ms;
}
